name: Build Flutter APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'

      - name: Get dependencies
        working-directory: faceid_app/faceid_app
        run: flutter pub get

      - name: Build release APK
        working-directory: faceid_app/faceid_app
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: faceid_app/faceid_app/build/app/outputs/flutter-apk/app-release.apk

